version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.playwright
    ports:
      - "5030:5000"
    environment:
      - FLAG=centralctf{csrf_1s_n0t_d3ad_yet}
    restart: unless-stopped
    shm_size: "2gb"
